certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorlog==4.0.2
filetype==1.0.5
Flask==1.1.1
har2case==0.3.1
httprunner==2.3.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jsonpath==0.82
MarkupSafe==1.1.1
pycryptodome==3.9.4
PyYAML==5.1.2
requests==2.22.0
requests-toolbelt==0.9.1
urllib3==1.25.7
Werkzeug==0.16.0
